body {
    background-color: #f4f4f4;
    padding: 20px;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.info-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.info-table th, .info-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #fff;
    background-color: #d0f3f8;
}
.info-table th {
    background-color: #007bff;
    color: #fff;
    width: 400px;
}
.result-box {
    background-color: #f0f0f0;
    /* background-color: #a6e1e9; */
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}